@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background: url("http://i.hizliresim.com/v4Qykv.png") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Roboto", Tahoma, Arial, sans-serif;
  line-height: 1.5;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100vh;
}

form {
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  outline: 0;
  float: left;
  border-radius: 4px;
}

form > .textbox {
  font-family: "Poppins", sans-serif;
  outline: 0;
  height: 42px;
  width: 244px;
  line-height: 42px;
  padding: 0 16px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 0;
  float: left;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

form > .textbox:focus {
  font-family: "Poppins", sans-serif;
  outline: 0;
  background-color: #fff;
}

form > .button {
  font-family: "Poppins", sans-serif;
  outline: 0;
  background: none;
  background-color: rgba(38, 50, 56, 0.8);
  float: left;
  height: 42px;
  width: 42px;
  text-align: center;
  line-height: 42px;
  border: 0;
  color: #fff;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px;
  text-rendering: auto;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

.button {
  font-family: "Poppins", sans-serif;
}

form > .button:hover {
  cursor: pointer;
  background-color: rgba(0, 150, 136, 0.8);
}
